html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

@font-face {
    font-family: 'Corporate-A-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Corporate-A-Bold.woff2') format(woff2),
         url('../fonts/Corporate-A-Bold.woff') format(woff);   
}
body{   
    font-family: 'Roboto Condensed', sans-serif;;
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    font-style: 16px;
    line-height: 19px;
    color: #fff;  
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul{
    list-style: none;
}

.list{
    display: flex;
}

.list__item + .list__item{
margin-left: 30px;
}
.list__link{
    width: 40px;
    height: 40px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  .3s ; 
}

.list__link:hover{
    background-color: #C1A1D2;
    
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    background: #070A1B;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__logo{
    margin-left: 115px;
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.header__content{
    min-height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/header-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.header__content::before{
    content: "";
    background-image: url(../images/marka.svg);
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

.title{
    font-style: normal;
    text-shadow: 0px 4px 4px 0px #00000040;
    font-size: 72px;
    margin-bottom: 5px;
    line-height: 120%;
}

.title-descr{
    font-size: 24px;
    margin-bottom: 50px;
    text-shadow: 0px 4px 4px 0px #00000040;
}

.concept{
    padding-top: 150px;
    margin-bottom: 150px;
}
.concept__inner{
    max-width: 900px;
    margin-left: auto;
}
.section__title{
    font-family: 'Corporate-A-Bold' ;
    color: #F402A2;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
}
.concept__text{
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 120%;
}
.premier{
    margin-bottom: 150px;
}
.premier__inner{
display: flex;
gap: 60px;
}
.premier__text{
    margin-bottom: 22px;
}
.premier__img{
    margin-bottom: 15px;
}
.premier__btn{
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 120%;
    color: #F402A2;
    text-transform: uppercase;
    font-family:'Corporate-A-Bold' ;
    text-align: center;
    padding: 14px;
    border: 1px solid #F402A2;
    transition: all .40s;
}
.premier__btn:hover{
    color: #53A1CB;
    border-color: #53A1CB;
}
.video__btn{
    border: 1px solid #F402A2;
    color: #F402A2;
    padding: 14px;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-family:'Corporate-A-Bold' ;
    font-size: 18px;
    line-height: 120%;
    gap: 10px;
    width: 100%;
    display: flex;
    transition: all .3s;

}
.video__btn span{
    padding-top: 2px;
}
.video{
    margin-bottom: 150px;
}
.video__img{
    margin-bottom: 25px;
}


.video__btn:hover{
    border-color: #53A1CB;
    color: #53A1CB;
}
.video__btn path{
    transition: all .3s;
}
.video__btn:hover path{
    fill: #53A1CB;
}
.design__interior{
    display: grid;
    grid-template-columns: 225px 225px auto 330px;
    grid-template-rows: auto;
    gap: 14px 44px;
    margin-bottom: 100px;
}
.design__cell-one{
    grid-row: 1/3;
}
.design__cell-two{
    grid-row: -1;
    display: flex;
    align-items: end;
}
.design__cell-three{
    grid-row: -1;
    grid-column-end: -1;
    margin-bottom: 25px;
    display: flex;
    align-items: end;
}
.design__cell-text{
    margin-bottom: 15px;
}
footer{
    background: #070A1B;
    padding-bottom: 0;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.design-slider__item{
    margin: 0 30px;
}
.slick-track{
    margin-left: -45px;
}
.design-slider{
    padding-bottom: 25px;
}
.arrow{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    bottom: 0;
    left: 50%;
    }
    .arrow-left{
        transform: translateX(30px);
    }
    .arrow-right{
        transform: translateX(-80px);
        
    }
    .design__box{
        max-width: 590px;
        padding: 0 10px;
        display: flex;
        gap: 60px;
        margin: 140px auto;
    }
    .design__box-text{
        margin-bottom: 15px;
    }
   .design__box-column{
       width: 255px;
   }
   .auto__img{
       padding-bottom: 25px;
   }